body {
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 0;
}
h4{
    margin: 8px;
}

input {
    width: 40px;
}