:root {
    --grid-rows: 10;
    --grid-cols: 10;
}

body {
    user-select: none;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1 {
    margin: 0;
    margin-bottom: 12px;
}
h4 {
    margin: 12px;
}

input, #animation-speed-input{
    width: 60px;
}

input, #row-size-input, #col-size-input{
    width: 40px;
}
input, #draw-start-checkbox, #draw-goal-checkbox{
    width: 12px;
}

/* GRID */
#grid-container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(var(--grid-rows), max-content);
    grid-template-columns: repeat(var(--grid-cols), max-content);
    margin: 12px;
}

/* KONTROL PANEL */
#control-panel {
    display: flex;
    gap: 20px;
    background-color: rgba(69, 80, 97, 0.482);
    margin-bottom: 16px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

/* CELLER */
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #2cb3ce;
    font-weight: bold;
    background-color: aliceblue;
    width: 32px;
    height: 32px;
    border: 3px solid rgba(137, 184, 184, 0.649);
    border-radius: 32%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;    
}

.cell.start {
    background-color: #99f8f0;
}

.cell.goal {
    background-color: #99f8f0;
}

.cell.greenFlat {
    background-color: #138451;
}

.cell.greyHill {
    background-color: rgb(88, 93, 95);
}

.cell.mountainBlocked {
    background-color: rgb(35, 37, 37);
}

.cell.visited {
    /* background-color: aqua; */
    border: 1px dashed #e69d0076;
}
