:root {
    --grid-rows: 10;
    --grid-cols: 10;
}

body {
    user-select: none;
    background-color: dimgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    margin-bottom: 12px;
}
h4 {
    margin: 12px;
}

input, #animation-speed-input{
    width: 60px;
}

input, #row-size-input, #col-size-input{
    width: 40px;
}
input, #draw-start-checkbox, #draw-goal-checkbox{
    width: 12px;
}

/* GRID */
#grid-container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(var(--grid-rows), max-content);
    grid-template-columns: repeat(var(--grid-cols), max-content);
    margin: 12px;
}

/* KONTROL PANEL */
#control-panel {
    margin-bottom: 16px;
}

/* CELLER */
.cell {
    background-color: aliceblue;
    width: 32px;
    height: 32px;
    border: 3px solid darkslategray;
    border-radius: 32%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

.cell.start {
    background-color: #2a07ed;
}

.cell.goal {
    background-color: #30e7d8;
}

.cell.whiteFlat {
    background-color: #138451;
}

.cell.greyHill {
    background-color: #F0E442;
}

.cell.blackBlocked {
    background-color: #b90f2b;
}
.cell.path {
    background-color: #5ac9df;
}

.cell.visited {
    /* background-color: aqua; */
    border: 1px dashed #e69d0059;
}
